<nav class="SA-app-nav">
    <ul class="list-unstyled">
        <li>
            <a 
                href="#"
                class="rounded"
                routerLink="/tableau-de-bord"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >Tableau de bord</a>
        </li>
        <li>
            <a
                href="#"
                class="rounded"
                routerLink="/professeurs"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >Professeurs</a>
        </li>
        <li>
            <a 
                href="#"
                class="rounded"
                routerLink="/sections"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >Sections</a>
        </li>
        <li>
            <a
                href="#"
                class="rounded"
                routerLink="/etudiants"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >Étudiants</a>
        </li>
        <li>
            <a 
                href="#"
                class="rounded"
                routerLink="/cours"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >Cours</a>
        </li>
    </ul>
</nav>