<div class="SA-user-box dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">

        <img src="./assets/img/pai-mei.jpg" alt="Pai Mei">
        <span>Pai Mei</span>
    </button>
    <ul class="dropdown-menu rounded" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item rounded" href="#">View profile</a></li>
        <li><a class="dropdown-item rounded" href="#">Disconnect</a></li>
    </ul>
</div>
