/*
 *
 * Imports
 *
 */

 @import '~bootstrap/scss/functions';
 @import '~bootstrap/scss/variables';
 @import '~bootstrap/scss/mixins';
 @import "~src/app/styles/global/_colors.scss";

/*
 *
 * Component Styles
 *
 */

.SA-app-footer {
    padding: 0 2rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

p {
    color: $primary;
    font-size: .9rem;
    margin: 0;

    span {
        color: red;
        border: none;
    }
}