<section class="SA-professors SA-app-section">
    <div class="SA-app-section__header">
        <h2>Professors</h2>
    </div>
    <div class="SA-app-section__content">

        <ul class="SA-nav-secondary nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">View All professors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Add a professor</a>
            </li>
        </ul>

        <div class="SA-content rounded">
            <ul class="table SA-list">
                <li class="SA-list__item list-unstyled">
                    <p class="SA-list__item__title">John Doe</p>
                    <p class="SA-list__item__link"><a class="" href="">Voir les détails</a></p>
                    <p class="SA-list__item__link"><a class="" href="">Modifier</a></p>
                    <p class="SA-list__item__link"><a class="" href="">Supprimer</a></p>
                </li>
                <li class="SA-list__item list-unstyled">
                    <p class="SA-list__item__title">John Doe</p>
                    <p class="SA-list__item__link"><a class="" href="">Voir les détails</a></p>
                    <p class="SA-list__item__link"><a class="" href="">Modifier</a></p>
                    <p class="SA-list__item__link"><a class="" href="">Supprimer</a></p>
                </li>
            </ul>
        </div>

        
    </div>
</section>